
body{
    /* background-color: aquamarine; */
    /* padding-top: 0rem; */
    height: 98vh;
    width: 98vw;
    margin: 0px;
    padding: 0px;
    /* border: 1.5px solid black; */
    background-color:bisque;
}
.container{
    height: 100%;
    width: 80%;
    margin-left: 10vw;
    padding-left: 10px;
    background-color: rgb(190, 240, 190);
}
#header{
    margin-top: 0px;
    /* border: 1px solid blue; */
    color:red;
    font-size: 2.75rem;
    text-align: center;
}
p{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.25rem ;
}
a{
    color: rgb(247, 61, 61);
    font-size: large;
}
img{
    width: 19%;
    height: 35vh;
}
span{
    width: 100%;
    padding: 2%;
    gap: 2rem;
    align-items: center;
}
